*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --table-background-color: grey;
  --background-color: #00B0F9;
  --table-background-color: #EEEEEE;
  --table-width: 100%;
  font-size: 20pt;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  min-height: 100vh;
  z-index: -99;
}

.logoutdiv {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
}
.options, 
.logout {
  display: inline-block;
  padding: .5rem;
  border-radius: .25rem;
  color: white;
  text-decoration: none;
  margin: 2rem;
}
.options {
  background-color: darkblue;
}
.logout {

  margin-left: auto;
  background-color: red;
}

#optionsList {
  background-color: #eee;
  
}
#optionsList li {
  list-style: none;
  display: block;
  width: 100%;
  height: 3rem;
}
#optionsList a:hover {
  background-color: #363636;
}
#optionsList a {
  background-color: #222222;
  text-decoration: none;
  display: block;
  color: white;
  height: 100%;
  width: 100%;
  padding: 1rem;
}




.unterList {
  list-style: none;
  opacity: .7;
  font-size: 1.5rem;
}
.unterList tr {
  width: 100%;
}
.tablediv {
  position: relative;
  display: grid;
  align-items: flex-start;
/*  justify-items: center;
  justify-content: center;
*/  grid-gap: 1rem;
  grid-template-columns: 100%;
  grid-template-rows: min-max(30px, 200px) auto auto;
  grid-template-areas: 'header' 'overview' 'table';
}
.tableContainer{
  width: var(--table-width);
  grid-area: table;
}
.unterList,
.timeTable{
  display: block;
  width: 100%;
  opacity: .7;
  font-size: 1.5rem;
}
.unterList td {
  padding: 5px;
}
.overviewContainer{
  grid-area: overview;
  width: var(--table-width);
  background-color: var(--table-background-color);
  border-radius: 5px;
  border: 1px solid lightgrey;
}
.overviewContainer h2{
  text-align: center;
}
.tabelle {
  background-color: var(--table-background-color);
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid lightgrey;
  width: 100%;
}
.tabelle tr:nth-child(even) {
  background-color: #e9e9e9;
}
.table-row {
  opacity: .7;
}
.tabelle input {
  border: 0px;
  background-color: transparent;
  border-bottom: 1px solid grey;
  height: 1.5rem;
  margin: 0;
  padding: 0;
  padding-right: 2px;
  font-size: 1rem;
  display: border-box;
  outline: none;
  opacity: .2;
  transition: opacity 200ms ease-in;
}
.tabelle input:hover,
.tabelle input:focus {
  background-color: #eeeeee;
  opacity: 1;
}
.tabelle td {
  position: relative;
  padding: .3rem;
}
.text-align-right {
  text-align: right;
}
.text-align-center {
  text-align: center !important;
}
.tabelle .sum-row {
  font-weight: bold;
}
.tabelle .sum-row td {
  position: relative;
  padding-top: .5rem;
}
.tabelle .summe::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: black;

}
.tabelle th {
  cursor: pointer;
  position: relative;
  text-align: left;
  padding-left: 15px;
  opacity: .4;
  transition: opacity 200ms ease-in;
  font-size: 1.3em;
}
.tabelle th:hover,
.tabelle th:active,
.tabelle th:focus {
  opacity: 1;
}
.tabelle th::before{
  content: '';
  box-sizing: border-box;
  position: relative;
  width: .5em;
  height: .5em;
  top: .6em;
  left: 0;
  margin-right: .2em;
  border: 6px solid transparent;
  border-top: 6px solid currentColor;
  opacity: 0.3;
  transition: transform 200ms ease-in;
  transition: opacity 200ms ease-in;
}
.tabelle th:hover::before {
  opacity: 1;
  transform: rotate(90deg);
}
/*.tabelle td::before {
  content: '';
  position: absolute;
  display: inherit;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: black;
  opacity: .2;
}*/
#sendbutton {
  width: 100%;
  height: 2rem;
  background-color: darkblue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: .4;
  transition: opacity 200ms ease-in;
  font-size: .8rem;
}

.deleteButton {
  width: 100%;
  height: 2rem;
  opacity: .2;
  transition: opacity 200ms ease-in;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: .8rem;
  cursor: pointer;
  padding: 0 .5rem;
}
#sendbutton:hover,
#sendbutton:focus,
.deleteButton:hover,
.deleteButton:focus {
  opacity: 1;
}
.head {
  background-color: var(--table-background-color);
}
.heading {
  grid-area: header;
  text-align: center;
  width: 100%;
  top: -1rem;
  color: black;
  opacity: .1;
  font-size: 5rem;
  font-weight: 600;
}
.abs {
  position: absolute;
  top: 0;
  z-index:-1;
}
/*.eingaben {
  max-width: var(--table-width);
  grid-area: eingaben;
  background-color: var(--table-background-color);
  padding: 1rem;
  border-radius: 5px;
}*/
.eingaben label {
  display: inline-block;
  width: 70px;
}
.footer {
  min-height: 20vh;
  position: relative;

}
.footer a {
  color: lightgrey;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: .5rem;
}
/*============
  login page
  ============*/
.loginContainer {
  height: 100vh;
  display: grid;
  place-items: center;
}
.login {
  background-color: var(--table-background-color);
  padding: 2rem;
  border-radius: .5rem;
}
.submit {
  display: block;
  border: none;
  padding: 0.5rem 1rem;
  background-color: orange;
  cursor: pointer;
  width: 100%;
  font-size: 2rem;
  color: white;
  border-radius: .5rem;
  margin-top: 1rem;
  font-weight: 700;
  letter-spacing: .125rem;
  transition: all 250ms ease-in-out;
}
#passworddiv {
  margin-top: 1rem;
}
.login label {
  display: block;
  text-align: center;
  font-size: 2rem;

}
.login .inputField {
  border: none;
  border-bottom: 1px solid currentColor ;
  background: transparent;
  font-size: 1.5rem;
  border-radius: .25rem .25rem 0 0;
}
.login input {
  text-align: center;
}
.login .inputField:focus {
  background-color: #fff;
  outline: none;
}
.login .submit:focus {
  background-color: rgb(26, 26, 26);
  color: orange;
}


/*============
  register page
  ============*/
#registerUser {
  margin-left: auto;
}
.zurück {
  position: absolute;
  top: 0;
  left: 0;
  background-color: darkblue;
  color: white;
  padding: .5rem;
  margin: 2rem;
  border-radius: .25rem;
  text-decoration: none;

}
.erstellt {
  width: 100%;
  text-align: center;
}
.btn {
  background-color: black;
  width: 100%;
  text-align: center;
  color: white;
  display: block;
  padding: 1rem;
  font-size: 2rem;
  border-radius: .25rem;
  margin: .5rem;
}
.back {
  background-color: darkblue;
}
.again {
  background-color: orange;
}


/*============
  delete page
  ============*/
#deleteContainer{
  background-color: #eee;
  border-radius: .25rem;
  padding: 2rem;
}
.deleteDiv {
  height: 2rem;
  position: relative;
  display: flex;
  padding-top: .5rem;
}
.deleteDiv p {
  padding: .25rem .5rem 0 0;
  
}
.deleteUserBtn{
  position: relative;
  margin-left: auto;
  border: none;
  border-radius: .25em;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 0 .5em 0 .5em;
}


/*============
  Media Querys
  ============*/
@media only screen and (max-width: 600px) {
  :root {
    font-size: 10pt;
  }
  .tabelle th,
  #sendbutton,
  .deleteButton {
    opacity: 1;
  }
  #sendbutton,
  .deleteButton {
    font-size: 1rem;  
  }
  .tabelle td {
    line-height: 150%;
  }
}

@media only screen and (min-width: 600px) {
  :root {
    font-size: 12pt;
  }
  .tabelle th,
  #sendbutton,
  .deleteButton {
    opacity: 1;
  }
  #sendbutton,
  .deleteButton {
    font-size: 1rem;  
  }
  .tabelle td {
    line-height: 150%;
  }
}

@media only screen and (min-width: 768px) {
  :root {
    font-size: 14pt;
  }
  .tabelle th,
  #sendbutton,
  .deleteButton {
    opacity: 1;
  }
  #sendbutton,
  .deleteButton {
    font-size: 1rem;  
  }
  .tabelle td {
    line-height: 150%;
  }
}

@media only screen and (min-width: 992px) {
  :root {
    font-size: 16pt;
  }
  .tabelle th,
  #sendbutton,
  .deleteButton {
    opacity: 1;
  }
  #sendbutton,
  .deleteButton {
    font-size: 1rem;  
  }
  .tabelle td {
    line-height: 150%;
  }
}

@media only screen and (min-width: 1200px) {
  :root {
    font-size: 20pt;
  }
  .tabelle th,
  #sendbutton,
  .deleteButton {
    opacity: 1;
  }
  #sendbutton,
  .deleteButton {
    font-size: 1rem;  
  }
  .tabelle td {
    line-height: 150%;
  }
}

