*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --table-background-color: grey;
  --background-color: #00B0F9;
  --table-background-color: #EEEEEE;
  --table-width: 400px;
  font-size: 10pt;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  min-height: 100vh;
}
.tablediv {
  min-height: 100vh;
  position: relative;
  display: grid;
  align-items: flex-start;
  justify-items: center;
  justify-content: center;
  grid-gap: 1rem;
  grid-template-columns: auto;
  grid-template-rows: 200px auto;
  grid-template-areas: 'header' 'table';
}
.tableContainer{
  max-width: var(--table-width);
  grid-area: table;

}
.tabelle {
  background-color: var(--table-background-color);
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid lightgrey;
}
.tabelle input {
  border: 0px;
  background-color: transparent;
  border-bottom: 1px solid grey;
  height: 1.2rem;
  margin: 0;
  padding: 0;
  padding-right: 2px;
  font-size: 1rem;
  display: border-box;
  outline: none;
  opacity: .2;
  transition: opacity 200ms ease-in;
}
.tabelle input:hover,
.tabelle input:focus {
  background-color: #E9E9E9;
  opacity: 1;
}
.tabelle td {
  position: relative;
}
.tabelle .sum-row {
  font-weight: bold;
}
.tabelle .sum-row td {
  position: relative;
  padding-top: .5rem;
}
.tabelle .summe::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: black;

}
/*.tabelle td::before {
  content: '';
  position: absolute;
  display: inherit;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: black;
  opacity: .2;
}*/
#sendbutton {
  width: 100%;
  background-color: darkblue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: .4;
  transition: opacity 200ms ease-in;
  font-size: .8rem;
}

.deleteButton {
  opacity: .2;
  transition: opacity 200ms ease-in;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: .8rem;
  cursor: pointer;
  padding: 0 .5rem;
}
#sendbutton:hover,
#sendbutton:focus,
.deleteButton:hover,
.deleteButton:focus {
  opacity: 1;
}
.head {
  background-color: var(--table-background-color);
}
.heading {
  grid-area: header;
  text-align: center;
  width: 100%;
  top: -1rem;
  color: black;
  opacity: .1;
  font-size: 5rem;
  font-weight: 600;
}
/*.eingaben {
  max-width: var(--table-width);
  grid-area: eingaben;
  background-color: var(--table-background-color);
  padding: 1rem;
  border-radius: 5px;
}*/
.eingaben label {
  display: inline-block;
  width: 70px;
}
